appnope==0.1.0
backcall==0.1.0
blessings==1.7
bpython==0.18
certifi==2019.9.11
chardet==3.0.4
curtsies==0.3.0
decorator==4.4.0
dj-database-url==0.5.0
django>=2.2.8
django-extensions==2.2.3
django-geojson==2.12.0
django-leaflet==0.24.0
greenlet==0.4.15
idna==2.8
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
psycopg2==2.8.3
ptyprocess==0.6.0
Pygments==2.4.2
python-decouple==3.1
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.3
typing==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.7
